PORT=8080
DATABASE_URL=postgresql://neondb_owner:npg_K9vRew5ypDiu@ep-wandering-tooth-axzdbdi2-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=hghgfgdxcghgukjhjilyutgfrsedszxdfvcxwsazsdxcvdtrfds
ENVIRONMENT=production
