@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Hide scrollbar while allowing scroll */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
